.ModalNew{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: flex-end;
    background-color: #5e5e5e93;
    &Body{
        position: relative;
        padding: 70px 50px 0;
        width: 100%;
        max-width: 1000px;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        &::-webkit-scrollbar{
            width: 5px;
            background-color: #fff;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #ED774E;
            border-radius: 5px;
        }
    }
}
.ModalClose{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 28px;
    height: 28px;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: rotate(45deg);
        border-radius: 3px;
    }
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        transform: rotate(-45deg);
        border-radius: 3px;
    }
}

.ModalTitle{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #253C55;
}

.ModalInfo{
    margin-top: 8px;
    width: 150px;
    display: inline-flex;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #253C55;
    &Name{
        padding-left: 6px;
    }
}

.ModalImg{
    margin-top: 24px;
    aspect-ratio: 2.2/1;
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    border-radius: 20px;
}
.ModalTxt{
    padding: 40px 30px 0;
}